{{template "base/base.html" .}}
{{template "base/base_common.html" .}}
{{define "meta"}}
     <title>有信网页版</title>
{{end}}

{{define "addCSS"}}
  <link href="/static/css/login.css" rel="stylesheet" />
{{end}}

{{define "addJS"}}
<script type="text/javascript">
$(document).ready(function() {
	$("#selectOrg").click(function() {
        $("#orgPanel").slideDown("200");
    })
   
    $(".unit").click(function() {
	    tenaName=$(this).text();
	    tenantId=$(this).attr("data-value");
	    $("#orgPanel").slideUp("300");
	    $("#tenaName").text(tenaName)
	    $("#tenantId").val(tenantId)
    });

});
function doLogin() {
	var queryString = $('#loginForm').serializeArray(); 
	var queryObj = {};
	$.each(queryString ,function(index, value) {
		queryObj[value["name"]] = value["value"];						 
	});
	
	$.ajax({
		url : "/login",
		type : "POST",
		data : queryObj,
		dataType : 'json',
		async : true,
		contentType : "application/x-www-form-urlencoded; charset=UTF-8",
		success : function(data,textStatus, jqXHR) {
			if (data.Success){
				window.location.href = '/index';
			}else {
				alert("用户名或者密码错误")
			}
		},
		error:function(XMLHttpRequest, textStatus, errorThrown) {
			alert("与服务器连接失败"+XMLHttpRequest.responseText);
		}
	});
}
</script>
{{end}}

{{define "body"}}
    <div class="wrapper" style="margin-top: 8%;">
        <div class="logo"></div>
        <div class="org">
            <div id="selectOrg" class="selectOrg">
               选择单位
            </div>
            <div id="tenaName" class="orgName"></div>
        </div>
		
        <div class="loginForm">
		    <form id ="loginForm">
	            <div class="parameter">
			        <input type="hidden" id="tenantId" name="tenantId"/>
	                <span class="icon icon-user"></span>
	                <input  class="form-input"  type="text" name="userName" />
	                <span class="icon icon-pwd"></span>
	                <input class="form-input" type="password" name="password"/>
	            </div>
	        </form>
          <div class="login-btn" onclick="doLogin()">
             登陆
          </div>
        </div>
        <div class="slide">
        </div>
    </div>
    <div id="orgPanel" class="org-panel">
      <ol>
	    {{range .Tenants}}
        <li class="unit" data-value="{{.Id}}" >{{.Name}}</li>
		{{end}}
      </ol>
    </div>
    <img class="bg-top" src="/static/images/bg-top.png">
    <img class="bg-bottom" src="/static/images/bg-bottom.png">
{{end}}